*{
  font-family: 'Playfair', serif;
}
.contactInfo{
  font-family: 'ArchivoNarrow', sans-serif;
}
.container #root {
  background-color: #fefae0;
}
.nav {
  font-size: '20px';
  background-color: #fff;
}
@font-face {
  font-family: 'ArchivoNarrow';
  src: local('Archivo'),
    url(./fonts/ArchivoNarrow-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Playfair';
  src: local('Playfair'),
    url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
